.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 170px;
}
.navbar img{
    width: 150px;
}
.navmenu{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 60px;
    font-size: 20px;
}
.navconnect{
    padding: 20px 40px;
    border-radius: 50px;
    background: #0077B5;
    font-size: 22px;
    cursor: pointer;
    transition: 0.5s;
    color: #fff;
    text-decoration: none;
}
.navmenu li:hover{
    transform: scale(1.1);
    transition: 0.2s;
}
.navmenu li:hover .anchor-link p{
    color: #cdcdcd;
} 
.navconnect:hover{
    transform: scale(1.1);
}
.anchor-link{
    text-decoration: none;
    color: #fff;
}
.nav-mob-close{
    display: none;
}
.nav-mob-open{
    display: none;
}
@media (max-width: 768px) {
    .navbar{
        margin: 20px 50px;
    }
    .navconnect{
        display: none;
    }
    .nav-mob-open{
        display: block;
        position: fixed;
        right: 30px;
    }
    .nav-mob-close{
        display: block;
        position: relative;
        top: 30px;
        left: 290px;
        width: 30px;
    }
    .navmenu{
        position: fixed;
        flex-direction: column;
        align-items: start;
        top: 0;
        gap: 30px;
        background-color: #1f0016;
        width: 350px;
        height: 100%;
        z-index: 2;
        transition: right 0.5s;
        right: -350px;
    }
    .navmenu li{
        font-size: 30px;
        padding-left: 100px;
        flex-direction: row;
        gap: 20px;
    }
}